// Variables

@import 'variables';

// Mixens
@import 'mixins';

// Keyframes

@keyframes h1-move {
  50% {
    margin-bottom: 4rem;
  }
}

@keyframes star-move {
  50% {
    margin-top: 4rem;
  }
}

@keyframes button-move {
  50% {
    margin-top: 1rem;
  }
}

/* ---------------------------------------------------------- */
/* Start of layout styling */
/* ---------------------------------------------------------- */

* {
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background: $primary-color3;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  margin-left: 6rem;
  margin-right: 6rem;
  min-height: 23rem;

  // background-color: lightblue;
}

/* ---------------------------------------------------------- */
/* Start of navbar styling */
/* ---------------------------------------------------------- */
header {
  position: relative;
  height: 17vh;

  .nav-bar {
    display: flex;
    height: auto;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    @include center();
    background-color: $primary-color3;
    z-index: 1;
    @include navTransBackgournd();
    box-shadow: $primary-color5 0px 10px 10px -10px;
    gap: 7rem;

    /* Navbar left section styling */
    .left-section {
      position: relative;
      display: flex;
      width: 70%;
      justify-content: flex-start;
      align-items: center;
      .logo {
        width: 400px;
        height: 140px;

        img {
          width: 400px;
          height: 140px;
          margin-left: 6rem;
          @include center();
        }
      }
      ul {
        margin-left: 3rem;
        display: flex;
        list-style: none;
        @include center();
        li {
          margin: 1.5rem;
          width: 13rem;
          text-align: center;
          .navLinks {
            text-decoration: none;
            font-weight: bolder;
            font-size: 2rem;
            text-transform: capitalize;
            color: $primary-color1;
            @include navTransBackgournd();
            transition: all 0.2s ease-in;
            &:hover {
              font-size: 2.1rem;
            }
          }
        }
      }
    }
    /* Navbar right section styling */
    .right-section {
      width: 30%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 2.5rem;

      .icon1 {
        font-size: 2.5rem;
        color: $primary-color1;
        margin: 1.4rem;
        transition: all 0.2s ease-in;
        &:hover {
          cursor: pointer;
          padding-right: 0.4rem;
        }
      }
      .icon2 {
        font-size: 3.5rem;
        color: $primary-color1;
        @include center();
        transition: all 0.2s ease-in;
        display: none;
        margin-right: 3rem;
        &:hover {
          cursor: pointer;
          padding-bottom: 1rem;
        }
      }
      .nav-buttons {
        display: flex;
        gap: 2.5rem;
        // margin-right: 6rem;
        .link-btn {
          text-decoration: none;
          .btn-1 {
            @include mainButton1-Styling();
            @include center();
          }
          .btn-2 {
            @include mainButton2-Styling();
            @include center();
          }
        }
        .btn-1 {
          @include mainButton1-Styling();
          @include center();
        }
      }
    }
  }
  .mini-nav {
    position: fixed;
    height: auto;
    z-index: 1;
    top: 12.8rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    @include center();
    @include navTransBackgournd();
    padding: 5rem 0;
    box-shadow: $primary-color6 0px 10px 10px -10px;

    .top-section {
      position: relative;
      @include center();
      display: flex;
      flex-direction: column;
      width: 70%;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 7rem;
      .mini-nav-links {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        list-style: none;
        @include center();
        li {
          margin: 1.5rem;
          width: 13rem;
          text-align: center;
          .mini-navLinks {
            text-decoration: none;
            font-weight: bolder;
            font-size: 2rem;
            text-transform: capitalize;
            color: $primary-color1;
            @include navTransBackgournd();
            transition: all 0.2s ease-in;
            &:hover {
              font-size: 2.1rem;
            }
          }
        }
      }
    }
    .bottom-section {
      position: relative;
      @include center();
      display: flex;
      width: 70%;
      align-items: center;
      margin-bottom: 3rem;
      .nav-links {
        display: flex;
        list-style: none;
        @include center();
        li {
          // margin: 1.5rem;
          width: 6rem;
          text-align: center;
          .mini-navLinks {
            text-decoration: none;
            font-weight: bolder;
            font-size: 2rem;
            text-transform: capitalize;
            color: $primary-color1;
            @include navTransBackgournd();
            transition: all 0.2s ease-in;
            &:hover {
              font-size: 2.1rem;
            }
          }
        }
      }
    }
  }
}

/* ---------------------------------------------------------- */
/* End of navbar styling */
/* ---------------------------------------------------------- */

/* ---------------------------------------------------------- */
/* Start of footer styling */
/* ---------------------------------------------------------- */

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  @include center();
  padding-bottom: 2rem;
  padding-top: 4rem;
  background: $primary-color5;

  // Styling footer top sections
  .top-sections {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    // Styling footer top left section
    .top-left-section {
      margin: 5vh;
      // margin-top: 4rem;
      width: 33.33%;
      height: 40vh;
      white-space: nowrap;
      @include center();
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
          margin: 1.5rem;
          a {
            text-decoration: none;
            font-size: $font-size3;
            text-transform: capitalize;
            color: $primary-color1;
            line-height: 1.5em;
            transition: all 0.2s ease-in;
            &:hover {
              font-size: $font-size4;
            }
          }
        }
      }
    }
    // Styling footer top mid seciton
    .top-mid-section {
      margin: 5vh;
      // margin-top: 4rem;
      width: 33.33%;
      height: 40vh;
      white-space: nowrap;
      display: flex;
      text-align: center;
      flex-direction: column;
      @include center();
      color: $primary-color1;
      .contact-info {
        white-space: nowrap;
        .section-title {
          font-size: $font-size3;
          margin: 1.5rem;
          font-weight: bolder;
        }
        a {
          text-decoration: none;
          font-size: $font-size3;
          color: $primary-color1;
          line-height: 1.5em;
          margin: 1.5rem;
          transition: all 0.2s ease-in;
          &:hover {
            font-size: $font-size4;
          }
        }
        p {
          font-size: $font-size3;
          color: $primary-color1;
          line-height: 1.5em;
          margin: 1.5rem;
        }
      }
      .social-media-icons {
        width: fit-content;
        .section-title {
          font-size: $font-size3;
          margin: 1.5rem;
          font-weight: bolder;
          margin-top: 3rem;
          margin-bottom: 1.5rem;
        }
        .icons {
          height: 7rem;
          margin-bottom: 4rem;
          .footer-social-links {
            color: $primary-color1;

            .icon {
              border: 4px solid $primary-color1;
              border-radius: 50px;
              padding: 1rem;
              font-size: 2.5rem;
              margin: 1rem;
              font-weight: bolder;
              transition: all 0.2s ease-in;
              background: $primary-color3;
              &:hover {
                cursor: pointer;
                font-size: 2.8rem;
              }
            }
          }
        }
      }
    }
    // Styling footer top right seciton
    .top-right-section {
      margin: 5vh;
      // margin-top: 4rem;
      display: flex;
      width: 33.33%;
      height: 40vh;

      text-align: center;
      @include center();
      img {
        text-align: center;
        @include center();
      }
    }
  }
  // Styling footer bottom seciton
  .bottom-section {
    width: 100%;
    text-align: center;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    @include center();
    color: $primary-color1;
    p {
      font-size: $font-size3;
      color: $primary-color1;
      margin: 1.5rem;
      @include center();
    }
  }
}

/* ---------------------------------------------------------- */
/* End of footer styling */
/* ---------------------------------------------------------- */

/* ---------------------------------------------------------- */
/* End of layout styling */
/* ---------------------------------------------------------- */

// Home page styling
/* ---------------------------------------------------------- */
/* Start of hero section styling */
/* ---------------------------------------------------------- */

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 2rem;
  @include center();
  padding-bottom: 7rem;
  margin-bottom: 10rem;
  box-shadow: $primary-color5 0px 10px 10px -10px;
  img {
    width: 130rem;
    padding-bottom: 7em;
  }
  .circle-background {
    height: 50rem;
    width: 50rem;
    background: $primary-color3;
    border: 6px solid $primary-color1;
    border-radius: 50%;
    padding: 4rem;
    display: none;
  }
  .hero__content {
    position: absolute;
    text-align: center;
    @include center();
    .heading-title {
      font-size: $font-size8;
      text-transform: capitalize;
      color: $primary-color1;
      font-weight: bolder;
      margin-bottom: 3rem;
      animation: h1-move 2s infinite;
    }
    p {
      font-size: $font-size3;
      text-transform: capitalize;
      color: $primary-color1;
      line-height: 1.5em;
      margin-bottom: 3.8rem;
    }
    .hero__button {
      @include mainButton2-Styling();
      @include center();
    }
  }
}

/* ---------------------------------------------------------- */
/* End of hero section styling */
/* ---------------------------------------------------------- */

/* ---------------------------------------------------------- */
/* Start of products section styling */
/* ---------------------------------------------------------- */

.products {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 13rem;
  margin-bottom: 10rem;
  box-shadow: $primary-color5 0px 10px 10px -10px;

  .section-title {
    font-size: $font-size6;
    text-transform: capitalize;
    color: $primary-color1;
    font-weight: bolder;
    margin-bottom: 7rem;
    text-align: center;
  }
  .search-product {
    width: 40vw;
    height: 5rem;
    border-radius: 50px;
    padding: 0 4rem;
    font-size: $font-size4;
    color: $primary-color1;
    text-transform: lowercase;
    border: 4px solid $primary-color1;
    margin-bottom: 4rem;
    outline: none;
    background: $primary-color3;
  }
  .sort-section {
    .sort-btn {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      @include mainButton2-Styling();
      outline: none;
      text-align: center;
      margin-bottom: 5rem;
    }
  }
  .products-div {
    display: flex;
    flex-direction: row;
    @include center();
    flex-wrap: wrap;
    margin-bottom: 8rem;
    max-width: 80vw;

    .product {
      background: $primary-color0;
      border-radius: 50px;
      width: 34rem;
      height: 50rem;
      margin: 2.2rem;
      box-shadow: rgb(105, 98, 98) 0px 10px 36px 0px, rgb(105, 98, 98) 0px 0px 0px 1px;
      transition: all 0.2s ease-in;
      &:hover {
        transform: translateY(-20px);
      }
      .product-details-link {
        text-decoration: none;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;

        img {
          width: 100%;
          height: 34rem;
          border-top-left-radius: inherit;
          border-top-right-radius: inherit;
        }
      }
      // Product details styling
      .product__details {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 2.5rem;
        color: $primary-color1;
        .controllers {
          display: flex;
          background: lightblue;
          width: 10rem;
          .icon1 {
            position: absolute;
            left: 380px;
            top: 125px;
            font-size: 2.5em;
            color: $primary-color6;
            margin: 1.4rem;
            transition: all 0.2s ease-in;
            &:hover {
              cursor: pointer;
              font-size: 2.7em;
            }
          }
          .icon2 {
            position: absolute;
            left: 330px;
            top: 125px;
            font-size: 2.5em;
            color: $primary-color6;
            margin: 1.4rem;
            transition: all 0.2s ease-in;
            &:hover {
              cursor: pointer;
              font-size: 2.7em;
            }
          }
          .icon3 {
            position: absolute;
            left: 400px;
            top: 125px;
            font-size: 2.5em;
            color: rgb(163, 54, 54);
            margin: 1.4rem;
            transition: all 0.2s ease-in;
            &:hover {
              cursor: pointer;
              font-size: 2.7em;
            }
          }
          .icon4 {
            position: absolute;
            left: 310px;
            top: 125px;
            font-size: 2.5em;
            color: $primary-color6;
            margin: 1.4rem;
            transition: all 0.2s ease-in;

            &:hover {
              cursor: pointer;
              font-size: 2.7em;
            }
          }
          .icon5 {
            position: absolute;
            left: 260px;
            top: 125px;
            font-size: 2.5em;
            color: $primary-color6;
            margin: 1.4rem;
            transition: all 0.2s ease-in;
            &:hover {
              cursor: pointer;
              font-size: 2.7em;
            }
          }
        }
        .product__title {
          font-size: $font-size4;
          text-transform: capitalize;
          font-weight: bolder;
          margin-bottom: 1.5rem;
        }
        .product__description {
          font-size: 1.7em;
          margin-bottom: 1.5rem;
        }
        .product__price {
          font-size: $font-size2;
          margin-bottom: 1.5rem;
        }
      }
    }
  }
  .products-btn {
    @include mainButton2-Styling();
    @include center();
  }
}

/* ---------------------------------------------------------- */
/* End of products section styling */
/* ---------------------------------------------------------- */

/* ---------------------------------------------------------- */
/* Start of about us section styling */
/* ---------------------------------------------------------- */

.AboutUs {
  position: relative;
  display: flex;
  flex-direction: column;
  @include center();
  padding-bottom: 15rem;
  padding-top: 4rem;
  margin-bottom: 10rem;
  .section-title {
    font-size: $font-size6;
    text-transform: capitalize;
    color: $primary-color1;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 4rem;
  }
  .content {
    font-size: $font-size5;
    text-align: justify;
    text-align-last: center;
    margin-bottom: 3rem;
    width: 55vw;
    margin-top: 3rem;
    text-transform: capitalize;
    color: $primary-color1;
    line-height: 1.5em;
    .innerTextLink {
      text-decoration: none;
      font-weight: bolder;
      color: $primary-color1;
      text-transform: capitalize;
    }
  }
}

/* ---------------------------------------------------------- */
/* End of about us section styling */
/* ---------------------------------------------------------- */

/* ---------------------------------------------------------- */
/* Start of reviews section styling */
/* ---------------------------------------------------------- */

.reviews {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15rem;
  margin-bottom: 10rem;
  box-shadow: $primary-color5 0px 10px 10px -10px;
  .section-title {
    font-size: $font-size6;
    text-transform: capitalize;
    color: $primary-color1;
    font-weight: bolder;
    margin-bottom: 10rem;
    text-align: center;
  }
  // Divide the seciton to left and right
  .main-section {
    display: flex;
    // flex-direction: row;
    @include center();
    width: 100%;
    // Styling the rating icon div
    .rate-div {
      width: 100%;
      height: 30rem;
      display: flex;
      flex-direction: column;
      @include center();
      .rate-icon {
        position: relative;
        color: $primary-color1;
        font-size: 40rem;
        margin-right: 1rem;
        animation: star-move 1.5s infinite;
      }
      .rating-value {
        color: $primary-color1;
        font-size: 10rem;
        margin-top: 5rem;
        // margin-bottom: 20rem;
        font-weight: bold;
      }
    }
    // Styling the reviews div
    .reviews-div {
      width: 100%;
      display: flex;
      flex-direction: column;
      @include center();
      .review {
        display: flex;
        flex-direction: column;
        margin: 2rem;
        padding: 3rem;
        background: $primary-color0;
        min-height: 11rem;
        width: 45rem;

        border-radius: 50px;
        color: $primary-color1;
        box-shadow: rgb(105, 98, 98) 0px 10px 36px 0px, rgb(105, 98, 98) 0px 0px 0px 1px;
        transition: all 0.2s ease-in;
        &:hover {
          transform: translateX(-50px);
        }
        .review__rating {
          justify-content: flex-start;
          font-size: $font-size4;
          font-weight: bolder;
          margin-bottom: 1.5rem;
        }
        .review__username {
          justify-content: flex-start;
          font-size: $font-size4;
          text-transform: capitalize;
          font-weight: bolder;
          margin-bottom: 1.5rem;
          margin-left: 3rem;
        }
        .review__content {
          justify-content: flex-start;
          font-size: $font-size4;
          margin-bottom: 1.5rem;
          margin-left: 3rem;
          max-width: 40rem;
        }
      }
    }
  }
}

/* ---------------------------------------------------------- */
/* End of reviews section styling */
/* ---------------------------------------------------------- */

/* ---------------------------------------------------------- */
/* Start of newsletter subscription section styling */
/* ---------------------------------------------------------- */

.newsletter-subscription {
  position: relative;
  display: flex;
  flex-direction: column;
  @include center();
  padding-bottom: 15rem;
  padding-top: 4rem;

  box-shadow: $primary-color5 0px 10px 10px -10px;
  .section-title {
    font-size: $font-size6;
    text-transform: capitalize;
    color: $primary-color1;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 4rem;
  }
  .content {
    font-size: $font-size5;
    text-align: center;
    margin-top: 3rem;
    text-transform: capitalize;
    color: $primary-color1;
    line-height: 1.5em;
  }
  // Styling the form
  .subscription-form {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    @include center();
    margin-top: 5rem;
    gap: 1.5rem;
    .email-label {
      font-size: $font-size4;
      color: $primary-color1;
      text-transform: capitalize;
      font-weight: bolder;
      margin-bottom: 2rem;
    }
    .email-textbox {
      width: 50vw;
      height: 5rem;
      border-radius: 50px;
      padding: 0 4rem;
      font-size: $font-size4;
      color: $primary-color1;
      text-transform: lowercase;
      border: 4px solid $primary-color1;
      margin-bottom: 2rem;
      background: $primary-color3;
      outline: none;
    }
    .form-submit-btn {
      @include mainButton2-Styling();
      @include center();
    }
  }
}

/* ---------------------------------------------------------- */
/* End of newsletter subscription section styling */
/* ---------------------------------------------------------- */

// Cart page styling
/* ---------------------------------------------------------- */
/* Start of purchases styling */
/* ---------------------------------------------------------- */
.cart {
  position: relative;
  display: flex;
  flex-direction: column;
  @include center();
  padding-bottom: 15rem;
  padding-top: 2rem;
  box-shadow: $primary-color5 0px 10px 10px -10px;
  .section-title {
    font-size: $font-size6;
    text-transform: capitalize;
    color: $primary-color1;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 4rem;
  }
  .items {
    position: relative;
    display: flex;
    @include center();
    flex-direction: column;
    width: 80%;
    gap: 4rem;
    border-radius: 50px;
    padding: 6rem 4rem;
    background: white;
    box-shadow: rgb(105, 98, 98) 0px 10px 36px 0px, rgb(105, 98, 98) 0px 0px 0px 1px;

    .section-title {
      font-size: 3em;
      text-transform: capitalize;
      color: $primary-color1;
      font-weight: bolder;
      text-align: center;
      margin-bottom: 3rem;
    }
    .item {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10vw;
      width: 60vw;
      height: 5rem;
      padding-bottom: 1.2rem;
      box-shadow: $primary-color5 0px 10px 10px -10px;
      p {
        font-size: $font-size5;
        color: $primary-color1;
        text-transform: capitalize;
        width: 20rem;
      }
      .deleteIcon {
        position: absolute;
        right: 0;
        font-size: 3.5em;
        color: rgb(163, 54, 54);
        transition: all 0.2s ease-in;

        &:hover {
          cursor: pointer;
          padding-top: 0.4rem;
        }
      }
    }
    .purchase-summary {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 75vw;
      gap: 2rem;
      margin-top: 3rem;
      p {
        font-size: $font-size5;
        color: $primary-color1;
        width: 20rem;
        text-align: center;
        text-transform: capitalize;
        font-weight: bold;
      }

      .checkout-btn {
        @include center();
        @include mainButton2-Styling();
      }
    }
  }
}
/* ---------------------------------------------------------- */
/* End of purchases styling */
/* ---------------------------------------------------------- */

/* ---------------------------------------------------------- */
/* Start of orders styling */
/* ---------------------------------------------------------- */

.orders {
  position: relative;
  display: flex;
  flex-direction: column;
  @include center();
  padding-bottom: 15rem;
  padding-top: 2rem;
  box-shadow: $primary-color5 0px 10px 10px -10px;
  .orders-container {
    position: relative;
    display: flex;
    @include center();
    flex-direction: column;
    width: 75vw;
    gap: 4rem;
    border-radius: 50px;
    padding: 6rem 4rem;
    background: white;
    box-shadow: rgb(105, 98, 98) 0px 10px 36px 0px, rgb(105, 98, 98) 0px 0px 0px 1px;
    .info {
      .section-title {
        font-size: 3em;
        text-transform: capitalize;
        color: $primary-color1;
        font-weight: bolder;
        text-align: center;
      }
      .email {
        margin-bottom: 3rem;
      }
    }
    .order {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 6.7vw;
      width: 60vw;
      height: 5rem;
      padding-bottom: 1.3rem;
      box-shadow: $primary-color5 0px 10px 10px -10px;
      .order-images {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        width: 20rem;
      }
      p {
        font-size: $font-size5;
        color: $primary-color1;
        text-transform: capitalize;
        width: 30rem;
      }
      .deleteIcon {
        position: absolute;
        right: 0;
        font-size: 3.5em;
        color: rgb(163, 54, 54);
        transition: all 0.2s ease-in;

        &:hover {
          cursor: pointer;
          padding-top: 0.4rem;
        }
      }
    }
    .purchase-summary {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 60vw;
      gap: 2rem;
      margin-top: 3rem;
      p {
        font-size: $font-size5;
        color: $primary-color1;
        width: 20rem;
        text-align: center;
        text-transform: capitalize;
        font-weight: bold;
      }
    }
    .buttons {
      display: flex;
      gap: 2rem;
      .block-btn {
        @include center();
        @include mainButton1-Styling();
      }
      .remove-btn {
        @include center();
        @include mainButton1-Styling();
      }
    }
  }
}
/* ---------------------------------------------------------- */
/* End of orders styling */
/* ---------------------------------------------------------- */

// Sign in page styling
/* ---------------------------------------------------------- */
/* Start of sign in styling */
/* ---------------------------------------------------------- */

.signIn {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .signIn-container {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    background: $primary-color0;
    min-height: 11rem;
    width: 46rem;
    padding: 6rem 3rem;
    text-align: center;

    border-radius: 50px;
    color: $primary-color1;
    box-shadow: rgb(105, 98, 98) 0px 10px 36px 0px, rgb(105, 98, 98) 0px 0px 0px 1px;
    .section-title {
      font-size: $font-size6;
      text-transform: capitalize;
      color: $primary-color1;
      font-weight: bolder;
      margin-bottom: 5rem;
      text-align: center;
    }
    .form {
      display: flex;
      flex-direction: column;
      @include center();
      margin-bottom: 1rem;
      gap: 1.5rem;
      .entry {
        display: flex;
        flex-direction: column;
        width: 100%;

        @include center();
        label {
          font-size: $font-size4;
          color: $primary-color1;
          text-transform: capitalize;
          font-weight: bolder;
          margin-bottom: 2rem;
        }
        input {
          width: 30rem;
          height: 5rem;
          border-radius: 50px;
          padding: 0 4rem;
          font-size: $font-size4;
          color: $primary-color1;
          text-transform: lowercase;
          border: 4px solid $primary-color1;
          margin-bottom: 2rem;
          outline: none;
        }
      }
      .signIn-btn {
        @include mainButton2-Styling();
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
    }
    .formSignUp {
      display: flex;
      gap: 1rem;
      @include center();
      p {
        font-size: $font-size1;
        color: $primary-color1;
        text-transform: capitalize;
        margin-bottom: 2rem;
        @include center();
      }
      a {
        font-size: $font-size1;
        text-decoration: none;
        color: $primary-color1;
        text-transform: capitalize;
        font-weight: bolder;
        margin-bottom: 2rem;
        @include center();
        transition: all 0.2s ease-in;
        &:hover {
          cursor: pointer;
          font-size: $font-size2;
        }
      }
    }
  }
}

/* ---------------------------------------------------------- */
/* End of sign in styling */
/* ---------------------------------------------------------- */

// Sign up page styling
/* ---------------------------------------------------------- */
/* Start of sign up styling */
/* ---------------------------------------------------------- */
.signUp {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .signUp-container {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    background: $primary-color0;
    min-height: 11rem;
    width: fit-content;
    padding: 6rem 8rem;
    text-align: center;

    border-radius: 50px;
    color: $primary-color1;
    box-shadow: rgb(105, 98, 98) 0px 10px 36px 0px, rgb(105, 98, 98) 0px 0px 0px 1px;
    .section-title {
      font-size: $font-size6;
      text-transform: capitalize;
      color: $primary-color1;
      font-weight: bolder;
      margin-bottom: 6rem;
      text-align: center;
    }
    .form {
      display: flex;
      flex-direction: column;
      .top-side {
        display: flex;
        gap: 8rem;
        .left-side {
          .entry {
            display: flex;
            flex-direction: column;
            width: 100%;

            @include center();
            label {
              font-size: $font-size4;
              color: $primary-color1;
              text-transform: capitalize;
              font-weight: bolder;
              margin-bottom: 2rem;
            }
            input {
              width: 30rem;
              height: 5rem;
              border-radius: 50px;
              padding: 0 4rem;
              font-size: $font-size4;
              color: $primary-color1;
              text-transform: lowercase;
              border: 4px solid $primary-color1;
              margin-bottom: 2rem;
              outline: none;
            }
          }
        }
        .right-side {
          .entry {
            display: flex;
            flex-direction: column;
            width: 100%;

            @include center();
            label {
              font-size: $font-size4;
              color: $primary-color1;
              text-transform: capitalize;
              font-weight: bolder;
              margin-bottom: 2rem;
            }
            input {
              width: 30rem;
              height: 5rem;
              border-radius: 50px;
              padding: 0 4rem;
              font-size: $font-size4;
              color: $primary-color1;
              text-transform: lowercase;
              border: 4px solid $primary-color1;
              margin-bottom: 2rem;
              outline: none;
            }
          }
        }
      }
      .bottom-side {
        display: inline;
        flex-direction: column;
        .signUp-btn {
          @include mainButton2-Styling();
          @include center();
          margin-top: 2rem;
          margin-bottom: 2rem;
        }
      }
    }
  }
  .formSignUp {
    display: flex;
    gap: 1rem;
    @include center();
    p {
      font-size: $font-size1;
      color: $primary-color1;
      text-transform: capitalize;
      margin-bottom: 2rem;
      @include center();
    }
    a {
      font-size: $font-size1;
      text-decoration: none;
      color: $primary-color1;
      text-transform: capitalize;
      font-weight: bolder;
      margin-bottom: 2rem;
      @include center();
      transition: all 0.2s ease-in;
      &:hover {
        cursor: pointer;
        font-size: $font-size2;
      }
    }
  }
}
/* ---------------------------------------------------------- */
/* End of sign up styling */
/* ---------------------------------------------------------- */

// Profile page styling
/* ---------------------------------------------------------- */
/* Start of profile styling */
/* ---------------------------------------------------------- */
.profile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
  .profile-container {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    background: $primary-color0;
    min-height: 11rem;
    width: fit-content;
    padding: 6rem 8rem;
    text-align: center;
    @include center();

    border-radius: 50px;
    color: $primary-color1;
    box-shadow: rgb(105, 98, 98) 0px 10px 36px 0px, rgb(105, 98, 98) 0px 0px 0px 1px;
    img {
      height: 200px;
      width: 200px;
      margin-bottom: 2rem;
      border: 3px solid $primary-color5;
      border-radius: 50%;
    }
    .section-title {
      font-size: $font-size6;
      text-transform: capitalize;
      color: $primary-color1;
      font-weight: bolder;
      margin-bottom: 6rem;
      text-align: center;
    }
    .form {
      display: flex;
      flex-direction: column;
      .top-side {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .entry {
          display: flex;
          flex-direction: column;
          width: 100%;

          @include center();
          label {
            font-size: $font-size4;
            color: $primary-color1;
            text-transform: capitalize;
            font-weight: bolder;
            margin-bottom: 2rem;
          }
          .name {
            width: 30rem;
            height: 5rem;
            border-radius: 50px;
            padding: 0 4rem;
            font-size: $font-size4;
            color: $primary-color1;
            text-transform: capitalize;
            border: 4px solid $primary-color1;
            margin-bottom: 2rem;
            outline: none;
          }
          .formEmail {
            width: 30rem;
            height: 5rem;
            border-radius: 50px;
            padding: 0 4rem;
            font-size: $font-size4;
            color: $primary-color1;
            text-transform: lowercase;
            border: 4px solid $primary-color1;
            margin-bottom: 2rem;
            outline: none;
          }
        }
      }
      .bottom-side {
        display: inline;
        flex-direction: column;
        .save-btn {
          @include mainButton2-Styling();
          @include center();
          margin-top: 2rem;
          margin-bottom: 2rem;
        }
      }
    }
  }
  .formSignUp {
    display: flex;
    gap: 1rem;
    @include center();
    p {
      font-size: $font-size1;
      color: $primary-color1;
      text-transform: capitalize;
      margin-bottom: 2rem;
      @include center();
    }
    a {
      font-size: $font-size1;
      text-decoration: none;
      color: $primary-color1;
      text-transform: capitalize;
      font-weight: bolder;
      margin-bottom: 2rem;
      @include center();
      transition: all 0.2s ease-in;
      &:hover {
        cursor: pointer;
        font-size: $font-size2;
      }
    }
  }
}

/* ---------------------------------------------------------- */
/* End of profile page styling */
/* ---------------------------------------------------------- */

/* ---------------------------------------------------------- */
/* Start of category page styling */
/* ---------------------------------------------------------- */

.category {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include center();
  // box-shadow: $primary-color5 0px 10px 10px -10px;
  .form {
    display: flex;
    flex-direction: column;
    @include center();
    .entry {
      display: flex;
      flex-direction: column;
      width: 100%;

      @include center();
      label {
        font-size: $font-size6;
        text-transform: capitalize;
        color: $primary-color1;
        font-weight: bolder;
        margin-bottom: 6rem;
        text-align: center;
      }
      input {
        width: 50vw;
        height: 5rem;
        border-radius: 50px;
        padding: 0 4rem;
        font-size: $font-size4;
        color: $primary-color1;
        border: 4px solid $primary-color1;
        margin-bottom: 2rem;
        background: $primary-color3;
        outline: none;
      }
    }
    .add-btn {
      @include mainButton2-Styling();
      margin-top: 2rem;
      margin-bottom: 10rem;
      width: fit-content;
    }
  }

  .category-container {
    position: relative;
    display: flex;
    @include center();
    flex-direction: column;
    margin-bottom: 10rem;
    width: 60vw;
    gap: 4rem;
    border-radius: 50px;
    padding: 6rem 0;
    background: white;
    box-shadow: rgb(105, 98, 98) 0px 10px 36px 0px, rgb(105, 98, 98) 0px 0px 0px 1px;

    .section-title {
      font-size: 3em;
      text-transform: capitalize;
      color: $primary-color1;
      font-weight: bolder;
      text-align: center;
      margin-bottom: 3rem;
    }
    .single-category {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 6.7vw;
      width: 45vw;
      height: 6rem;
      box-shadow: $primary-color5 0px 10px 10px -10px;

      p {
        font-size: $font-size5;
        color: $primary-color1;
        text-transform: capitalize;
        width: 50rem;
      }
      .controllers {
        position: relative;
        height: 3rem;
        right: 6rem;
        gap: 3rem;
        .deleteIcon {
          position: absolute;
          left: 0;
          font-size: 3.5em;
          color: rgb(163, 54, 54);
          transition: all 0.2s ease-in;

          &:hover {
            cursor: pointer;
            padding-top: 0.4rem;
          }
        }
        .editIcon {
          position: absolute;
          right: 2rem;
          font-size: 3.5em;
          color: $primary-color6;
          transition: all 0.2s ease-in;

          &:hover {
            cursor: pointer;
            padding-top: 0.4rem;
          }
        }
      }
    }
  }
}

/* ---------------------------------------------------------- */
/* End of category page styling */
/* ---------------------------------------------------------- */

/* ---------------------------------------------------------- */
/* Start of error styling */
/* ---------------------------------------------------------- */
.error-container {
  margin-top: 17vh;
  position: relative;
  display: flex;
  flex-direction: column;
  @include center();

  h2 {
    font-size: $font-size7;
    text-transform: capitalize;
    color: $primary-color1;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 2rem;
  }
  p {
    font-size: 2.8em;
    text-align: justify;
    text-align-last: center;
    margin-top: 3rem;
    width: 50vw;
    text-transform: capitalize;
    color: $primary-color1;
    line-height: 1.5em;
    margin-bottom: 5rem;
  }
  button {
    @include mainButton2-Styling();
    margin-bottom: 10rem;
    animation: button-move 2s infinite;
  }
}
/* ---------------------------------------------------------- */
/* End of error styling */
/* ---------------------------------------------------------- */

/* ---------------------------------------------------------- */
/* Start of product details styling */
/* ---------------------------------------------------------- */
.productDetails {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 6rem;
  @include center();
  .container {
    display: flex;
    padding: 0 10rem;
    gap: 14rem;
    margin-bottom: 5rem;
    justify-content: center;
    .left-side {
      img {
        height: 60vh;
        border-radius: 50%;
        box-shadow: rgb(105, 98, 98) 0px 10px 36px 0px, rgb(105, 98, 98) 0px 0px 0px 1px;
      }
    }
    .right-side {
      display: flex;
      flex-direction: column;

      .product-category {
        font-size: $font-size2;
        color: $primary-color6;
        text-transform: capitalize;
        font-weight: bolder;
        margin-bottom: 1rem;
      }
      h2 {
        font-size: $font-size6;
        text-transform: capitalize;
        margin-bottom: 2rem;
        color: $primary-color1;
        font-weight: bolder;
        text-align: left;
      }
      .discription {
        margin-bottom: 5rem;
      }
      h3 {
        font-size: $font-size4;
        color: $primary-color1;
        text-transform: capitalize;
        font-weight: bolder;
        margin-bottom: 1rem;
      }
      p {
        font-size: $font-size5;
        text-align: justify;
        text-transform: capitalize;
        color: $primary-color1;
        line-height: 1.5em;
        width: 45rem;
      }
      .buttons {
        display: flex;
        // @include center();
        width: 100%;
        text-align: left;
        gap: 3rem;
        .buy-btn {
          margin-top: 5rem;
          @include mainButton2-Styling();
        }
        .back-btn {
          margin-top: 5rem;
          @include mainButton1-Styling();
        }
      }
    }
  }
}
/* ---------------------------------------------------------- */
/* End of product details styling */
/* ---------------------------------------------------------- */

/* ---------------------------------------------------------- */
/* Start of users styling */
/* ---------------------------------------------------------- */
.users {
  display: flex;
  flex-direction: column;
  @include center();
  .section-title {
    font-size: $font-size6;
    text-transform: capitalize;
    color: $primary-color1;
    font-weight: bolder;
    margin-bottom: 5rem;
    text-align: center;
  }
  .search-product {
    display: flex;
    @include center();
    width: 40vw;
    height: 5rem;
    border-radius: 50px;
    padding: 0 4rem;
    font-size: $font-size4;
    color: $primary-color1;
    text-transform: lowercase;
    border: 4px solid $primary-color1;
    margin-bottom: 8rem;
    outline: none;
    background: $primary-color3;
  }
  .info {
    display: flex;
    flex-direction: column;
    @include center();
    .username {
      font-size: $font-size4;
      color: $primary-color1;
      text-transform: capitalize;
      font-weight: bolder;
      margin-bottom: 2rem;
    }
    .email {
      font-size: $font-size4;
      color: $primary-color1;
      text-transform: lowercase;
      font-weight: bold;
      margin-bottom: 2rem;
    }
  }
}
/* ---------------------------------------------------------- */
/* End of users styling */
/* ---------------------------------------------------------- */

/* ---------------------------------------------------------- */
/* Start of add edit product page styling */
/* ---------------------------------------------------------- */

.add-edit-product {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include center();
  box-shadow: $primary-color5 0px 10px 10px -10px;
  .section-title {
    font-size: $font-size6;
    text-transform: capitalize;
    color: $primary-color1;
    font-weight: bolder;
    margin-bottom: 5rem;
    text-align: center;
  }
  .form {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    background: $primary-color0;
    min-height: 11rem;
    width: 50vw;
    padding: 12rem 8rem;
    text-align: center;
    border-radius: 50px;
    color: $primary-color1;
    box-shadow: rgb(105, 98, 98) 0px 10px 36px 0px, rgb(105, 98, 98) 0px 0px 0px 1px;
    @include center();
    gap: 1.5rem;

    .entry {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 80vh;
      margin-bottom: 3rem; // background: lightblue;
      @include center();
      label {
        font-size: $font-size4;
        color: $primary-color1;
        text-transform: capitalize;
        font-weight: bolder;
        margin-bottom: 2rem;
      }
      .input-btn {
        position: relative;
        input {
          width: 40vw;
          height: 5rem;
          border-radius: 50px;
          padding: 0 4rem;
          font-size: $font-size4;
          color: $primary-color1;
          border: 4px solid $primary-color1;
          margin-bottom: 2rem;
          outline: none;
        }
        .currency {
          position: absolute;
          font-size: 2em;
          right: 3rem;
          top: 1.5rem;
        }
        .add-detail {
          position: absolute;
          right: 0rem;
          bottom: 2.1rem;
          font-size: 25pt;
          font-weight: bolder;
          text-transform: capitalize;
          color: $primary-color1;
          background: $primary-color3;
          width: auto;
          white-space: nowrap;
          padding: 0.6em 1.5em;
          border-top-right-radius: 50px;
          border-bottom-right-radius: 50px;
          border: 4px solid $primary-color1;
          transition: all 0.2s ease-in;
          &:hover {
            cursor: pointer;
            padding-left: 1.8em;
          }
        }

        .selectCategory {
          position: relative;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          width: 45vw;
          height: 5rem;
          border-radius: 50px;
          padding: 0 4rem;
          font-size: $font-size4;
          color: $primary-color1;
          background: $primary-color3;
          border: 4px solid $primary-color1;
          margin-bottom: 2rem;
          outline: none;
          &:hover {
            cursor: pointer;
          }
        }
      }
      textarea {
        width: 40vw;
        min-height: 10rem;
        border-radius: 50px;
        padding: 2rem 4rem;
        font-size: $font-size4;
        color: $primary-color1;
        border: 4px solid $primary-color1;
        margin-bottom: 2rem;
        outline: none;
        resize: none;
      }
    }
  }
  .add-btn {
    @include mainButton2-Styling();
    margin-top: 5rem;
    width: fit-content;
  }
}

/* ---------------------------------------------------------- */
/* End of add edit product page styling */
/* ----------------------------------------------------------


// Media queries for responsive design

/* Extra small devices (phones, 600px and down) */

@media screen and (min-width: 1000px) {
  .nav-bar .right-section .nav-buttons {
    margin-right: 6rem;
  }
}

@media screen and (max-width: 1300px) {
  header .nav-bar .left-section .logo img {
    width: 280px;
    height: 100px;
    margin-left: 3rem;
    margin-top: 1.5rem;
    @include center();
  }

  .nav-bar .right-section .nav-buttons {
    position: relative;
    display: flex;
    margin-right: 6rem;
    justify-content: flex-end;
    gap: 0;
  }

  .header .nav-bar .right-section .nav-buttons .link-btn .btn-1 {
    font-size: $font-size1;
  }
  .header .nav-bar .right-section .nav-buttons .link-btn .btn-2 {
    font-size: $font-size1;
  }
  .header .nav-bar .right-section .nav-buttons .btn-1 {
    font-size: $font-size1;
  }
}

@media screen and (max-width: 2200px) {
  .hero img {
    display: none;
  }
  .hero .circle-background {
    display: block;
  }
  .hero .hero__content .heading-title {
    font-size: $font-size6;
    margin-top: 8rem;
  }
  .nav-bar .left-section ul {
    display: none !important;
  }

  .nav-bar .right-section .icon2 {
    display: block !important;
  }
  .nav-bar .right-section .icon1 {
    display: none;
  }
  .nav-bar .right-section .nav-buttons {
    // display: none;
    margin-right: 1rem;
  }
  // .nav-bar .right-section .nav-buttons button {
  //   display: none !important;
  // }

  .reviews .main-section {
    flex-direction: column;
    margin-top: 10rem;
    gap: 25vh;
  }

  .signUp .signUp-container .form .top-side {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .profile .profile-container .form .top-side {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .productDetails .container {
    display: flex;
    flex-direction: column;
  }

  .productDetails .container .right-side .buttons {
    text-align: center;
  }
}

@media screen and (max-width: 1400px) {
  footer .top-sections {
    flex-direction: column;
  }

  footer .top-sections .top-left-section ul {
    text-align: center;
  }
  footer .top-sections .top-mid-section {
    text-align: center;
  }
}
