@keyframes h1-move {
  50% {
    margin-bottom: 2rem;
  }
}
@keyframes star-move {
  50% {
    margin-top: 4rem;
  }
}
@keyframes button-move {
  50% {
    margin-top: 1rem;
  }
}
/* ---------------------------------------------------------- */
/* Start of layout styling */
/* ---------------------------------------------------------- */
* {
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background: #edefef;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  margin-left: 6rem;
  margin-right: 6rem;
  min-height: 23rem;
}

/* ---------------------------------------------------------- */
/* Start of navbar styling */
/* ---------------------------------------------------------- */
header {
  position: relative;
  height: 15vh;
}
header .nav-bar {
  display: flex;
  height: auto;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-items: center;
  justify-content: center;
  background-color: #edefef;
  z-index: 1;
  background: transparent;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  box-shadow: #dddddd 0px 10px 10px -10px;
  gap: 7rem;
  /* Navbar left section styling */
  /* Navbar right section styling */
}
header .nav-bar .left-section {
  position: relative;
  display: flex;
  width: 70%;
  justify-content: flex-start;
  align-items: center;
}
header .nav-bar .left-section .logo {
  width: -moz-fit-content;
  width: fit-content;
  height: 70px;
}
header .nav-bar .left-section .logo img {
  width: 200px;
  height: 70px;
  margin-left: 3.5rem;
  align-items: center;
  justify-content: center;
}
header .nav-bar .left-section ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 1.8rem;
}
header .nav-bar .left-section ul li {
  width: 7rem;
  text-align: center;
}
header .nav-bar .left-section ul li .navLinks {
  text-decoration: none;
  font-weight: bolder;
  font-size: 1em;
  text-transform: capitalize;
  color: #696262;
  background: transparent;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  transition: all 0.2s ease-in;
}
header .nav-bar .left-section ul li .navLinks:hover {
  font-size: 1.05em;
}
header .nav-bar .right-section {
  width: 30%;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  padding-right: 3.5rem;
}
header .nav-bar .right-section .icon1 {
  font-size: 1.25rem;
  color: #696262;
  margin: 0.3rem;
  transition: all 0.2s ease-in;
}
header .nav-bar .right-section .icon1:hover {
  cursor: pointer;
  padding-right: 0.3rem;
}
header .nav-bar .right-section .icon2 {
  font-size: 1.75rem;
  color: #696262;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in;
  display: none;
  margin-right: 0.75rem;
}
header .nav-bar .right-section .icon2:hover {
  cursor: pointer;
  padding-bottom: 1rem;
}
header .nav-bar .right-section .nav-buttons {
  display: flex;
  gap: 1.25rem;
}
header .nav-bar .right-section .nav-buttons .link-btn {
  text-decoration: none;
}
header .nav-bar .right-section .nav-buttons .link-btn .btn-1 {
  font-size: 1em;
  font-weight: bolder;
  text-transform: capitalize;
  color: #696262;
  background: #edefef;
  display: flex;
  width: auto;
  white-space: nowrap;
  padding: 0.7em 1.5em;
  border-radius: 50px;
  border: 2px solid #696262;
  transition: all 0.2s ease-in;
  align-items: center;
  justify-content: center;
}
header .nav-bar .right-section .nav-buttons .link-btn .btn-1:hover {
  cursor: pointer;
  padding: 0.7em 1.7em;
}
header .nav-bar .right-section .nav-buttons .link-btn .btn-2 {
  font-size: 1em;
  font-weight: bolder;
  text-transform: capitalize;
  color: white;
  width: auto;
  white-space: nowrap;
  padding: 0.7em 1.5em;
  border-radius: 50px;
  border: 2px solid #696262;
  background: #696262;
  transition: all 0.2s ease-in;
  align-items: center;
  justify-content: center;
}
header .nav-bar .right-section .nav-buttons .link-btn .btn-2:hover {
  cursor: pointer;
  padding: 0.7em 1.7em;
}
header .nav-bar .right-section .nav-buttons .btn-1 {
  font-size: 1em;
  font-weight: bolder;
  text-transform: capitalize;
  color: #696262;
  background: #edefef;
  display: flex;
  width: auto;
  white-space: nowrap;
  padding: 0.7em 1.5em;
  border-radius: 50px;
  border: 2px solid #696262;
  transition: all 0.2s ease-in;
  align-items: center;
  justify-content: center;
}
header .nav-bar .right-section .nav-buttons .btn-1:hover {
  cursor: pointer;
  padding: 0.7em 1.7em;
}
header .mini-nav {
  position: fixed;
  height: auto;
  z-index: 1;
  top: 12.8rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: transparent;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  padding: 5rem 0;
  box-shadow: #909090 0px 10px 10px -10px;
}
header .mini-nav .top-section {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 7rem;
}
header .mini-nav .top-section .mini-nav-links {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  list-style: none;
  align-items: center;
  justify-content: center;
}
header .mini-nav .top-section .mini-nav-links li {
  margin: 1.5rem;
  width: 13rem;
  text-align: center;
}
header .mini-nav .top-section .mini-nav-links li .mini-navLinks {
  text-decoration: none;
  font-weight: bolder;
  font-size: 2rem;
  text-transform: capitalize;
  color: #696262;
  background: transparent;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  transition: all 0.2s ease-in;
}
header .mini-nav .top-section .mini-nav-links li .mini-navLinks:hover {
  font-size: 2.1rem;
}
header .mini-nav .bottom-section {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 70%;
  align-items: center;
  margin-bottom: 3rem;
}
header .mini-nav .bottom-section .nav-links {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}
header .mini-nav .bottom-section .nav-links li {
  width: 6rem;
  text-align: center;
}
header .mini-nav .bottom-section .nav-links li .mini-navLinks {
  text-decoration: none;
  font-weight: bolder;
  font-size: 2rem;
  text-transform: capitalize;
  color: #696262;
  background: transparent;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  transition: all 0.2s ease-in;
}
header .mini-nav .bottom-section .nav-links li .mini-navLinks:hover {
  font-size: 2.1rem;
}

/* ---------------------------------------------------------- */
/* End of navbar styling */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* Start of footer styling */
/* ---------------------------------------------------------- */
footer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  background: #dddddd;
}
footer .top-sections {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
footer .top-sections .top-left-section {
  margin: 5vh;
  width: 33.33%;
  height: 40vh;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}
footer .top-sections .top-left-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
footer .top-sections .top-left-section ul li {
  margin: 1.5rem;
}
footer .top-sections .top-left-section ul li a {
  text-decoration: none;
  font-size: 1em;
  text-transform: capitalize;
  color: #696262;
  line-height: 0.75em;
  transition: all 0.2s ease-in;
}
footer .top-sections .top-left-section ul li a:hover {
  font-size: 1.05em;
  cursor: pointer;
}
footer .top-sections .top-mid-section {
  margin: 5vh;
  width: 33.33%;
  height: 40vh;
  white-space: nowrap;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #696262;
}
footer .top-sections .top-mid-section .contact-info {
  white-space: nowrap;
}
footer .top-sections .top-mid-section .contact-info .section-title {
  font-size: 1em;
  margin: 1rem;
  font-weight: bolder;
}
footer .top-sections .top-mid-section .contact-info a {
  text-decoration: none;
  font-size: 1em;
  color: #696262;
  line-height: 1em;
  transition: all 0.2s ease-in;
}
footer .top-sections .top-mid-section .contact-info a:hover {
  font-size: 1.05em;
}
footer .top-sections .top-mid-section .contact-info p {
  font-size: 1em;
  color: #696262;
  line-height: 1.5em;
}
footer .top-sections .top-mid-section .social-media-icons {
  width: -moz-fit-content;
  width: fit-content;
}
footer .top-sections .top-mid-section .social-media-icons .section-title {
  font-size: 1em;
  font-weight: bolder;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}
footer .top-sections .top-mid-section .social-media-icons .icons {
  height: 5rem;
}
footer .top-sections .top-mid-section .social-media-icons .icons .footer-social-links {
  color: #696262;
}
footer .top-sections .top-mid-section .social-media-icons .icons .footer-social-links .icon {
  border: 2px solid #696262;
  border-radius: 50px;
  padding: 0.5rem;
  font-size: 1.25em;
  margin: 0.5rem;
  font-weight: bolder;
  transition: all 0.2s ease-in;
  background: #edefef;
}
footer .top-sections .top-mid-section .social-media-icons .icons .footer-social-links .icon:hover {
  cursor: pointer;
  font-size: 1.4em;
}
footer .top-sections .top-right-section {
  margin: 5vh;
  display: flex;
  width: 33.33%;
  height: 40vh;
  text-align: center;
  align-items: center;
  justify-content: center;
}
footer .top-sections .top-right-section img {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 70px;
}
footer .bottom-section {
  width: 100%;
  text-align: center;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #696262;
}
footer .bottom-section p {
  font-size: 1em;
  color: #696262;
  margin: 1.5rem;
  align-items: center;
  justify-content: center;
}

/* ---------------------------------------------------------- */
/* End of footer styling */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* End of layout styling */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* Start of hero section styling */
/* ---------------------------------------------------------- */
.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 2rem;
  align-items: center;
  justify-content: center;
  padding-bottom: 3.5rem;
  margin-bottom: 5rem;
  box-shadow: #dddddd 0px 10px 10px -10px;
}
.hero img {
  width: 65rem;
  padding-bottom: 3.5em;
}
.hero .circle-background {
  height: 25rem;
  width: 25rem;
  background: #edefef;
  border: 3px solid #696262;
  border-radius: 50%;
  padding: 4rem;
  display: none;
}
.hero .hero__content {
  position: absolute;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.hero .hero__content .heading-title {
  font-size: 3em;
  text-transform: capitalize;
  color: #696262;
  font-weight: bolder;
  margin-bottom: 1.5rem;
  animation: h1-move 2s infinite;
}
.hero .hero__content p {
  font-size: 1em;
  text-transform: capitalize;
  color: #696262;
  line-height: 1.5em;
  margin-bottom: 1.9rem;
}
.hero .hero__content .hero__button {
  font-size: 1em;
  font-weight: bolder;
  text-transform: capitalize;
  color: white;
  width: auto;
  white-space: nowrap;
  padding: 0.7em 1.5em;
  border-radius: 50px;
  border: 2px solid #696262;
  background: #696262;
  transition: all 0.2s ease-in;
  align-items: center;
  justify-content: center;
}
.hero .hero__content .hero__button:hover {
  cursor: pointer;
  padding: 0.7em 1.7em;
}

/* ---------------------------------------------------------- */
/* End of hero section styling */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* Start of products section styling */
/* ---------------------------------------------------------- */
.pagination-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pagination-div .top-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination-div .top-section .page-controller {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20rem;
  width: 4.5rem;
  margin: 5rem;
  background: lightblue;
}
.pagination-div .top-section .page-controller .arrow-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #909090;
  font-size: 4.8em;
  background: lightcoral;
  transition: all 0.2s ease-in;
}
.pagination-div .top-section .page-controller .arrow-icon:hover {
  cursor: pointer;
  font-size: 5.3em;
}

.products {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 13rem;
  margin-bottom: 10rem;
  box-shadow: #dddddd 0px 10px 10px -10px;
}
.products .section-title {
  font-size: 2.2em;
  text-transform: capitalize;
  color: #696262;
  font-weight: bolder;
  margin-bottom: 3.5rem;
  text-align: center;
}
.products .search-product {
  width: 40vw;
  height: 2.5rem;
  border-radius: 50px;
  padding: 0 2rem;
  font-size: 1.05em;
  color: #696262;
  text-transform: lowercase;
  border: 2px solid #696262;
  margin-bottom: 2rem;
  outline: none;
  background: #edefef;
}
.products .sort-section .sort-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1em;
  font-weight: bolder;
  text-transform: capitalize;
  color: white;
  width: auto;
  white-space: nowrap;
  padding: 0.7em 1.5em;
  border-radius: 50px;
  border: 2px solid #696262;
  background: #696262;
  transition: all 0.2s ease-in;
  outline: none;
  text-align: center;
  margin-bottom: 2.5rem;
}
.products .sort-section .sort-btn:hover {
  cursor: pointer;
  padding: 0.7em 1.7em;
}
.products .products-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 4rem;
  max-width: 80vw;
}
.products .products-div .product {
  background: white;
  border-radius: 30px;
  width: 17rem;
  height: 25rem;
  margin: 1.1rem;
  box-shadow: rgb(105, 98, 98) 0px 5px 18px 0px, rgb(105, 98, 98) 0px 0px 0px 0.5px;
  transition: all 0.2s ease-in;
}
.products .products-div .product:hover {
  transform: translateY(-20px);
}
.products .products-div .product .product-details-link {
  text-decoration: none;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.products .products-div .product .product-details-link img {
  width: 100%;
  height: 17rem;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.products .products-div .product .product__details {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0.75rem;
  color: #696262;
}
.products .products-div .product .product__details .controllers {
  display: flex;
  width: 10rem;
}
.products .products-div .product .product__details .controllers .icon1 {
  position: absolute;
  left: 190px;
  top: 60px;
  font-size: 1.25em;
  color: #909090;
  margin: 1.4rem;
  transition: all 0.2s ease-in;
}
.products .products-div .product .product__details .controllers .icon1:hover {
  cursor: pointer;
  font-size: 1.35em;
}
.products .products-div .product .product__details .controllers .icon2 {
  position: absolute;
  left: 170px;
  top: 60px;
  font-size: 1.25em;
  color: #909090;
  margin: 1.4rem;
  transition: all 0.2s ease-in;
}
.products .products-div .product .product__details .controllers .icon2:hover {
  cursor: pointer;
  font-size: 1.35em;
}
.products .products-div .product .product__details .controllers .icon3 {
  position: absolute;
  left: 200px;
  top: 60px;
  font-size: 1.25em;
  color: rgb(163, 54, 54);
  margin: 1.4rem;
  transition: all 0.2s ease-in;
}
.products .products-div .product .product__details .controllers .icon3:hover {
  cursor: pointer;
  font-size: 1.35em;
}
.products .products-div .product .product__details .controllers .icon4 {
  position: absolute;
  left: 160px;
  top: 60px;
  font-size: 1.25em;
  color: #909090;
  margin: 1.4rem;
  transition: all 0.2s ease-in;
}
.products .products-div .product .product__details .controllers .icon4:hover {
  cursor: pointer;
  font-size: 1.35em;
}
.products .products-div .product .product__details .controllers .icon5 {
  position: absolute;
  left: 140px;
  top: 60px;
  font-size: 1.25em;
  color: #909090;
  margin: 1.4rem;
  transition: all 0.2s ease-in;
}
.products .products-div .product .product__details .controllers .icon5:hover {
  cursor: pointer;
  font-size: 1.35em;
}
.products .products-div .product .product__details .product__title {
  font-size: 1.05em;
  text-transform: capitalize;
  font-weight: bolder;
  margin-bottom: 0.75rem;
}
.products .products-div .product .product__details .product__description {
  font-size: 0.85em;
  margin-bottom: 0.75rem;
  width: 15rem;
}
.products .products-div .product .product__details .product__price {
  font-size: 0.95em;
  margin-bottom: 0.75rem;
}
.products .products-btn {
  font-size: 1em;
  font-weight: bolder;
  text-transform: capitalize;
  color: white;
  width: auto;
  white-space: nowrap;
  padding: 0.7em 1.5em;
  border-radius: 50px;
  border: 2px solid #696262;
  background: #696262;
  transition: all 0.2s ease-in;
  align-items: center;
  justify-content: center;
}
.products .products-btn:hover {
  cursor: pointer;
  padding: 0.7em 1.7em;
}

/* ---------------------------------------------------------- */
/* End of products section styling */
/* ---------------------------------------------------------- *//*# sourceMappingURL=App.css.map */