// Variaables
$primary-color0: #ffff;
$primary-color1: #696262;
$primary-color2: #d8d2ce;
$primary-color3: #edefef;
$primary-color4: #f8f6f4;
$primary-color5: #dddddd;

$font-size1: 1.8em;
$font-size2: 1.9em;
$font-size3: 2em;
$font-size4: 2.1em;
$font-size5: 2.2em;
$font-size6: 4.5em;
$font-size7: 5em;
$font-size8: 6em;
